<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Оплата выполненных работ</title>
    <script src="https://use.fontawesome.com/c4d0c48df6.js"></script>
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="stylesheet" href="static/css/media.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <section class="section pay">
      <div class="container pay__container">
        <h1 class="title pay__title">Оплата выполненных работ</h1>

        <form action="renewpay" method = "POST"  class="form pay__form col"  onsubmit="javascript: return process();">
          {% csrf_token %}
          <div class="row pay__row">
            <div class="col pay__col">
              <input class="input pay__input" placeholder="ФИО Клиента" name = "clientname" value = {{namepay}}>

              <input type="hidden" id="master" name="master">
              <div class="custom-select">
                <select  id = "masterdiv">
                  <option value="default">Выберите заказ</option>
                  <option value="12" selected>Мастер 1</option>
                  <option value="13">Мастер 2</option>
                  <option value="14">Мастер 3</option>
                </select>
              </div>

              <div class="hr"></div>

              <p class="pay__total"><b>Итого к оплате:</b> <span>{{price}}</span> руб. </p>
            </div>

            <div class="col pay__col">
              <textarea
                name=""
                id=""
                cols="30"
                rows="8"
                class="input textarea pay__textarea"
                placeholder="Комментарий"
              >{{comment}}</textarea>
            </div>
          </div>
          <div class="row row--between pay__row--between">
            <a href="index" class="btn icon__btn" title="Войти в систему">
                <i class="fa-solid fa-arrow-right-to-bracket icon__i"></i>
            </a>

            <button id="pay" class="btn pay_btn icon__btn" title="Оплатить">
                <i class="fa-solid fa-wallet icon__i"></i>
            </button>
          </div>
        </form>
      </div>
    </section>
    <script>
    function process() {
      document.getElementById("master").value = document.getElementById("masterdiv").innerHTML;
      return true;
    }
    </script>

    <script src="static/js/script.js"></script>
  </body>
</html>
